body {
  margin: 0;
  font-family: monospace;
  background: #f4f4f4;
  text-align: center;
}

section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 2em;
}

a {
  text-decoration: none;
  color: black;
  border: 1px solid black;
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  display: inline-block;
}
